@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:global(body) {
   margin: 0;
   min-width: 100vw;
   min-height: 100vh;
   background-image: url("../static/images/base_body_img.jpg");
   background-size: cover; /* Ensures the image covers the div */
   background-position: center; /* Centers the image */
}

:global(#app) {
   padding: 10px 16px;
   min-width: 100vw;
   min-height: 100vh;
}

#navbar {
   border-radius: 1px;
}
