@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
   font-family: "Mouldy Cheese";
   src: url("/fonts/MouldyCheeseRegular.ttf");
}

@font-face {
   font-family: "Superior Serif Regular";
   src: url("/fonts/LTSuperiorSerif-Regular.otf");
}

@font-face {
   font-family: "Superior Serif Medium";
   src: url("/fonts/LTSuperiorSerif-Medium.otf");
}
